<div class="quesistions-form-wrap">
	<div class="question-wrap">
		<div class="question-txt">Você curte a Thinkseg?</div>
		<div class="radio-group">
			<input id="gosta_ts_sim" type="radio" name="gosta_thinkseg" value="1">
			<label for="gosta_ts_sim">Sim!</label>
			<input id="gosta_ts_nao" type="radio" name="gosta_thinkseg" value="0">
			<label for="gosta_ts_nao">Não</label>
		</div>
	</div>
	<div class="question-wrap">
		<div class="question-txt">Você curte cerveja?</div>
		<div class="radio-group">
			<input id="gosta_cerveja_sim" type="radio" name="gosta_cerveja" value="1">
			<label for="gosta_cerveja_sim">Sim!</label>
			<input id="gosta_cerveja_nao" type="radio" name="gosta_cerveja" value="0">
			<label for="gosta_cerveja_nao">Não</label>
		</div>
	</div>
	<button class="btn">Enviar Respostas</button>
</div>